.teamsright {
  width: 32vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap-reverse;
  padding-left: 7.5vw;
}

.achievementright {
  width: 20rem;
  height: 20rem;
  border-radius: 10px;
  display: inline-block;
  background-color: #012147;
  padding: 1rem;
  color: white;
  margin-right: 1rem;
  margin-left: 0.5rem;
  margin-top: 1rem;
}

.achievementright span {
  font-size: 1.4rem;
  color: rgb(255, 255, 255);
  font-family: "Nasalization", sans-serif;
  margin-top: 7.5rem;
  display: grid;
}
.achievementright:hover {
  background-color: rgb(8, 100, 247);
}
