.teamsright {
  width: 32vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap-reverse;  
  justify-content: center;
}

.achievementright {
  width: 32vw;
  max-width: 430px;
  height: 30vh;
  border-radius: 10px;
  display: flex;
  background-color: #012147;
  padding: 1rem;
  color: white;
  justify-content: center;
}

.achievementright span {
  font-size: 1.4rem;
  color: rgb(255, 255, 255);
  font-family: "Nasalization", sans-serif;
  display: grid;
  align-self: center;
}
.achievementright:hover {
  background-color: rgb(8, 100, 247);
}
