.eventsingle{
    margin-top: 2rem;
    box-shadow:0px 0px 20px 2px rgba(0,0,0, 0.1);
}

.eventsingle:hover {
    cursor: pointer;
}
.eventsingle img{
    width:8rem;
    display: inline-block;
}
.eventsingledesc{
    display: inline-block;
    margin-right: 3rem;
    width:13rem;
}
.eventsingledesc h3{
    font-size: 1.2rem;
}
.eventsingledesc h4{
    font-size: 1rem;
}
.eventglow{
    box-shadow:0px 0px 20px 2px rgb(114, 112, 112);
}
@media(max-width:900px)
{
    .eventsingle{
        margin-top: 2rem;
        box-shadow:0px 0px 20px 2px rgba(0,0,0, 0.1);
        padding-bottom: 1rem;
        padding-top: 1rem;
    }
    .eventsingle img{
        width:6rem;
        display: inline-block;
        margin-top: -2rem;
    }
    .eventsingledesc{
        display: inline-block;
        margin-right: 1rem;
        width:11rem;
    }
    .eventsingledesc h3{
        font-size: 1.2rem;
    }
    .eventsingledesc h4{
        font-size: 1rem;
    }
    .eventglow{
        box-shadow:0px 0px 20px 2px rgb(114, 112, 112);
    }
}