  .timeline-container {
    
    padding: 3em 2em;
    background: #ffffff;
  }
  
  .title {
    margin-top: 2rem;
    font-size: 5em;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    color: #012147;
  }
  
  .date {
    color: #012147;
    text-align: left;
  }

  .vertical-timeline::before {
    background: #012147 !important;
}


  
  .vertical-timeline-element::before {
    background: #012147 !important; 
  }
  
  .vertical-timeline-element-content {
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25),
      0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important;
    padding: 2em 3em !important;
    background: #012147;
    color: #ffffff; 
    border-radius: 2rem;
    
  }
  
  .button {
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    background: #ffffff;
    color: #ffffff;
  }

  
  .workButton {
    background-color: #2f67f8;
  }
  
  .workButton:hover {
    background-color: #6ac8ee;
  }
  
  .schoolButton {
    background-color: #2f67f8;
  }
  
  .schoolButton:hover {
    background-color: #6ac8ee;
  }

  

  
  
  @media only screen and (max-width: 768px) {
    .vertical-timeline-element-date {
      display: block !important;
      float: none !important;
      color: #ffffff;
      margin-top: 1.5em;
      left: 0; 
      text-align: center;
      position: relative;
    }
  
    .vertical-timeline-element-content {
      max-width: 90%; /* Full width for mobile view */
    }
  }  
 