.right {
  display: flex;
  margin-top: 2rem;
}
.left {
  display: flex;
  margin-top: 2rem;
}
.bottom {
  display: flex;
  margin-left: 15rem;
  margin-top: 2rem;
}
.mentorsection h3 {
  font-family: "Nasalization", sans-serif;
  color: blue;
}
