.bootintro img{
    width:75vw;
    height:50vh;
    margin-left: auto;
    margin-right: auto;
}
.intro-text {
    text-align: center;
}
.bootabout{
    width:90vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    box-shadow: 0px 0px 20px 1px rgb(0,0,0,0.1);
    padding: 2.5rem;
    margin-bottom: 4rem;
    background-color: white;
    color:rgb(2, 40, 86);
    border-radius: 20px;
    font-weight: 500;
    text-align: justify;
}
.bootabout h2 {
    margin-top: 5vh;
    text-align: center;
}
.bootabout h4 {
    margin-top: 5vh;
    text-align: center;
}

@media(max-width:900px) {
    .bootintro img{
        width:100vw;
        height:30vh;
        margin-left: auto;
        margin-right: auto;
    }
    .bootabout{
        width:95vw;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
        box-shadow: 0px 0px 20px 1px rgb(0,0,0,0.1);
        padding: 1rem;
        margin-bottom: 4rem;
        background-color: white;
        color:rgb(2, 40, 86);;
        border-radius: 20px;
        font-weight: 500;
    }
}